/* Сброс стилей (Reset CSS) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

:root {
  --background-color: rgb(6, 2, 16);
  --textPo-color: rgb(29, 229, 206);
  --textMe-color: rgb(242, 90, 125);
  --button-color: rgb(108, 102, 45);
  --textButton-color: rgb(221, 221, 221);
  --textInput-color: rgb(89, 112, 119);
  --input-color: rgb(0, 0, 0);
  --border-color: rgb(35, 46, 50);
  --dot-color: rgb(217, 174, 33);
  --modal-background: rgb(30, 28, 34);
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--background-color);
  overflow: hidden;
}

main {
  max-width: 100%;
  height: 100%;
}

.element-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;

  .post-pair {
    position: relative;
    display: flex;
    margin: 1px;
    padding-left: 14px;
    padding-right: 8px;
    cursor: pointer;
    transition: 1s;
    border: 1px solid var(--background-color);

    .po {
      color: var(--textPo-color);
    }

    .me {
      color: var(--textMe-color);
      margin-left: 0.4rem;
      /* border-radius: 12px; */
      transition: 1s;
    }

    .modal-window {
      transition: 1s;
      background-color: var(--modal-background);
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      top: 1.8rem;
      left: 1rem;
      z-index: -50;
      /* border-radius: 10px; */
      opacity: 0%;

      span {
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .number {
        color: var(--dot-color);
      }

      .meaning {
        color: var(--textInput-color);
      }

      .delete {
        color: var(--textMe-color);
        transition: 0.3s;
      }

      .delete:hover {
        color: rgb(255, 225, 165);
        border-bottom: 1px solid yellow;
      }
    }
  }
}

.post-pair::before {
  position: absolute;
  content: "";
  background-color: var(--dot-color);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  .form {
    display: flex;
  }

  .content-form {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    .form-group {
      display: flex;
      margin-right: 1rem;

      input {
        background-color: var(--background-color);
        color: var(--textInput-color);
        padding: 4px 4px 4px 0px;
        font-size: 14px;
        border: none;
        opacity: 70%;
      }

      .input-line {
        color: var(--textInput-color);
        padding: 4px 0px 4px 4px;
        font-size: larger;
      }

      #mePost {
        background-color: var(--background-color);
        color: var(--textInput-color);
        padding: 4px;
        font-size: 14px;
        width: 20rem;
        margin-right: 1rem;
      }

      input::placeholder {
        color: var(--textInput-color);
      }
    }

    button {
      color: var(--textButton-color);
      background-color: var(--button-color);
      border: none;
      height: 100%;
      padding: 6px;
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }

    #message {
      color: var(--textButton-color);
      font-weight: bold;
      position: absolute;
      left: 1rem;
      top: -2rem;
    }
  }

  .panel {
    display: flex;
  }

  .hideMeaning {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    label {
      color: var(--textInput-color);
      margin-left: 0.4rem;
      text-align: start;
      margin-bottom: 1px;
    }
  }

  .quantity {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1rem;

    p {
      color: var(--textInput-color);
      margin-left: 0.4rem;
    }

    span {
      color: var(--textInput-color);
    }
  }
}

.quit-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  width: 1rem;
  height: 1rem;
  background-color: var(--button-color);
  right: 0;
  top: 0;
  opacity: 30%;
  transition: 0.3s;
  cursor: pointer;
}

.quit-app:hover {
  opacity: 100%;
  width: 2rem;
  height: 2rem;
}

.alphabetPointer {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  p {
    color: var(--textInput-color);
    cursor: pointer;
    padding: 0.4rem;
    text-align: center;
    transition: all 0.3s;
  }
  p:hover {
    color: white;
  }
}

.pointerWord {
  background-color: var(--button-color);
  transition: all 0.3s;
}
