:root {
    --background-color: black;
    --textEn-color: rgb(32, 175, 59);
    --textRu-color: rgb(145, 65, 215);
    --button-color: black;
    --textButton-color: black;
    --textInput-color: black;
    --input-color: black;
    --border-color: black;
    --dot-color: rgb(193, 235, 240);
}